body {
    background-color: rgb(151, 142, 204);
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
h1{
    color:  rgb(134, 12, 134);
    text-align: center;
  
}
p{

    font-size: smaller;
    margin-left: 20px;
}